body{
    background-color: #ff1269;
}

h1{
    color: rgb(150, 244, 244);
    background-color: rgb(241, 16, 91);
}
#score_sketch{
    font-size: 34px;
    margin-left: 20px;
}
#time_sketch{
    font-size: 34px;
    margin-left: 1210px;
}
















